:root {
    --default-green: #1DB954;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

/* Utility Classes */

.btn-primary {
    background-color: var(--default-green);
    color: mediumblue;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 30px;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover {
    background: #1ed760;
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
}
/* navbar */

#navbar {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    height: 80px;
}

#navbar .nav-items ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 0.95rem;
}

#navbar .nav-items ul li {
    padding: 0 20px;
    transition: all 300ms ease;
}

#navbar .nav-items ul li:hover {
    color: var(--default-green);
    cursor: pointer;
}

#navbar .nav-items li:nth-child(3) {
    border-right: 1px solid white;
}

/* Showcase */

#showcase {
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(../img/ilias-chebbi-2gpfqhEFVZ8-unsplash.jpg);
    background-color: rgba(1, 49, 75, 0.6);
    background-blend-mode: color;
    min-height: 80%;
    transition: all 100ms ease-in-out;

}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;

}

#showcase .showcase-container h2 {
    font-size: 8rem;
    color: var(--default-green);
    text-align: center;
    font-weight: bold;

}

#showcase .showcase-container p {
    margin: 8px 0;
    font: 1.1rem;
    color: var(--default-green);
    font-weight: bold;
    padding-bottom: 30px;
}

/* footer */

#footer {
    background: black;
    color: white;
    padding: 80px 20px;
    
    
}

#footer .footer-content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}

#footer .footer-content .footer-menu {
   
    list-style: none;
    

}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0;
    transition: all 300ms ease;
    cursor: pointer;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: var(--default-green);
}

/* Socials */

.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
    cursor: pointer;
    background-color: rgb(60, 59, 59);
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    
}

.socials i:hover {
    color: var(--default-green);
}

/* Info */

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding: 50px 100px;
    padding-bottom: 20px;

}
.footer-menu{
    margin: 0;
    padding: 0;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms ease;

}

.footer-info .footer-info-items .footer-info-item:hover {
    color: var(--default-green);
}


.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
}

.footer-info .rights .country:hover {
    color: var(--default-green);
}

.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;

}

/*mobile */
@media(max-width: 992px){

    .logo {
        height: 30px;
        width: auto;
    }

    #navbar .nav-items ul {
        
        font-size: 0.80rem;
    }

    #showcase {
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: url(../img/ilias-chebbi-2gpfqhEFVZ8-unsplash.jpg);
        background-color: rgba(1, 49, 75, 0.6);
        background-blend-mode: color;
        min-height: 80%;
        background-position: 30%;
        transition: all 100ms ease-in-out;
    
    }

    #footer {
        background: black;
        color: white;
        padding: 80px 20px;
        
        
    }

    #footer .footer-info .rights p {
        text-align: right;
    }

}

@media(max-width: 759px) {

    #navbar {
        display: flex;
        background-color: black;
        color: white;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 80px;
        height: 10vh;
      
        
    }

    #navbar .nav-items ul {
        
        font-size: 0.75rem;
    }

    #footer {
        padding: 20 90px;
    }

    #footer .footer-content  {
       
        font-size: 0.80rem;
        
       
    }

    #footer .footer-content .socials i {
        font-size: 1.4rem;
        width: 40px; 
        height: 40px;   
        padding-top: 10px;
    }
    
    .footer-info {

        font-size: 0.70rem;
        padding: 0px 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

    }

}

@media(max-width: 655px) {

    .logo {
        height: 25px;
        width: auto;
    }

    #navbar {
        display: flex;
        background-color: black;
        color: white;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 20px;
        height: 10vh;
      
        
    }

    #navbar .nav-items ul {
        
        font-size: 0.75rem;
        padding-bottom: 5px;
    }

    #footer  {
        
        padding: 40px 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

    }

    #footer .footer-content  {
       
        font-size: 0.70rem;
      
    }

    #footer .footer-content .socials i {
        font-size: 1.4rem;
        width: 40px; 
        height: 40px;   
        padding-top: 10px;
        
    }
    
    .footer-info {

        font-size: 0.70rem;
        padding: 0px 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

    }
@media screen and (max-width: 500px) {

    .logo {
        height: 20px;
        width: 60px;
    }

    #navbar .nav-items ul {
        
        font-size: 0.50rem;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.078);
        color: rgba(255, 255, 255, 0.05);
        width: 20vw;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 40px;
        height: 90vh;
        position: absolute;
        
    }

    #navbar:hover{
        background-color: rgb(0, 0, 0);
        color: white;
    }

    #navbar .nav-items ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-weight: bold;
        font-size: 0.95rem;
        padding: 5px 0;
    }
    #navbar .nav-items ul li {
        padding: 20px 20px;
        transition: all 300ms ease;
    }


    #showcase .showcase-container h2 {
        font-size: 3rem;
       
    }
    #showcase .showcase-container p {
        margin: 8px 0;
        font-size: 0.7rem;
        color: var(--default-green);
        font-weight: bold;
        padding-bottom: 30px;
    }

    #showcase {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        color: white;
        background: url(../img/ilias-chebbi-2gpfqhEFVZ8-unsplash.jpg) center no-repeat;
        background-color: rgba(1, 49, 75, 0.6);
        background-blend-mode: color;
        transition: all 100ms ease-in-out;
    
    }

    #footer {
        background: black;
        color: white;
        
        padding: 50px 20px;
        
    }
    
    #footer .footer-content {
        display: flex;
        width: 100%;
        /* margin: 0 auto; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start
    }

    #footer .footer-content .socials i {
        font-size: 1.4rem;
        width: 40px; 
        height: 40px;   
        padding-top: 10px;
        margin-top: 20px;
        margin: auto;
        
    }
    
    .footer-info {

        font-size: 0.50rem;
        padding: 0;
        padding-right: 10px;
        display: flex;
        width: auto;
        align-items: flex-end;
        justify-content: space-around;

    }

    #footer .footer-content .footer-menu p {
        font-weight: bold;
        text-transform: uppercase;
        color: #919496;
        font-size: 0.6rem;
        margin-top: 25px;
    }
    
    #footer .footer-content .footer-menu .footer-menu-item {
        transition: all 300ms ease;
        cursor: pointer;
    }
    #footer .footer-content .footer-menu {
        list-style: none;
    
    }
    
 
    .socials i {
        /* margin: 0 20px; */
        font-size: 1rem;
        transition: all 300ms ease;
        cursor: pointer;
        background-color: rgb(60, 59, 59);
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 130px;
        border-radius: 50%;
        
    }
    

    
}
}